<form [formGroup]="formPassword" (ngSubmit)="save()" *ngIf="ready">
    <div class="cnd-head">
        <div class="cnd-title">
            {{'password.title' | lang}}
        </div>
    </div>    
    <div class="cnd-content">
        <div class="cnd-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="cnd-input">
                        <input type="password" id="password" placeholder="{{'account.password' | lang}} *"
                            name="password" formControlName="password" />
                        <label class="label" for="password">{{'account.password' | lang}} *</label>
                        <div class="cnd-error">
                            <div *ngIf="hasError(formPassword.controls['password'],'required')">
                                {{'account.errorPasswordEmpty' | lang}}
                            </div>
                            <div *ngIf="hasError(formPassword.controls['password'],'maxlength')">
                                {{'account.errorPasswordLength' | lang}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="cnd-input">
                        <input type="password" id="confirm" placeholder="{{'password.confirm' | lang}} *"
                            name="confirm" formControlName="confirm" />
                        <label class="label" for="confirm">{{'password.confirm' | lang}} *</label>
                        <div class="cnd-error">
                            <div *ngIf="hasError(formPassword.controls['confirm'],'required')">
                                {{'password.errorConfirmEmpty' | lang}}
                            </div>
                            <div *ngIf="hasError(formPassword.controls['confirm'],'match')">
                                {{'password.errorConfirmMatch' | lang}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="cnd-group-button">                        
                        <button type="submit" class="cnd-button">{{'password.save' | lang}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>