.cnd-message
    background: $gray-medium
    padding: .5rem 20px .5rem 15px
    color: $white
    margin-top: 15px
    margin-right: -15px
    margin-left: -15px
    margin-bottom: -15px    
    font-size: 0.8rem
    overflow: hidden
    position: relative        
    
    &.error
        background: $red
    &.info
        background: $blue
    &.success
        background: $green
    &.warning
        background: $orange
    
    .cnd-button-message
        position: absolute
        top: 6px
        right: 10px        
        font-weight: 500
        cursor: pointer
        &:hover
            text-decoration: underline