<div class="cnd-content">
    <div class="cnd-body">
        <div class="row">
            <div class="col-md-12">
                <div class="cnd-input">
                    <input type="text" id="firstName" name="firstName"
                        placeholder="{{'person.firstName' | lang:lang}} *" />
                    <label class="label" for="firstName">{{'person.firstName' | lang:lang}} *</label>

                </div>
            </div>
            <div class="col-md-12">
                <div class="cnd-input">
                    <input type="text" id="lastName" name="lastName"
                        placeholder="{{'person.lastName' | lang:lang}} *" />
                    <label class="label" for="lastName">{{'person.lastName' | lang:lang}} *</label>

                </div>
            </div>
            <div class="col-md-12">
                <div class="cnd-input">
                    <input type="email" id="email" name="email" placeholder="{{'person.email' | lang:lang}} *" />
                    <label class="label" for="email">{{'person.email' | lang:lang}} *</label>

                </div>
            </div>
            <div class="col-md-12">
                <div class="cnd-group-button">
                    <button type="button" class="cnd-button">{{'signup.title' | lang:lang}}</button>
                </div>
            </div>
        </div>
    </div>
</div>