<ul class="cnd-tab cnd-menu">
    <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            {{ getTextHome() | lang}}
        </a>
    </li>
    <ng-container *ngIf="!isAuthenticated">
        <li><a routerLinkActive="active" routerLink="/signup">{{'signup.title' | lang}}</a></li>
    </ng-container>
    <li><a routerLinkActive="active" routerLink="/lang">{{'lang.title' | lang}}</a></li>
    <ng-container *ngIf="isAuthenticated">
        <li><a href="Javascript:;" (click)="signout()">{{'menu.signout' | lang}}</a></li>
    </ng-container>
</ul>